body {
    font-family: "Noto Sans JP", Raleway, sans-serif;
}

.header .navbar {
    background-color: #0a152f !important;
    color: #fff !important;
}

.header .navbar .navbar-brand {
    font-size: 1.5rem;
    color: #fff;
    font-family:"Noto Sans JP", sans-serif;
}